# 
# OpenSSL configuration file. 
# 

# Establish working directory. 
dir = . 

[ ca ] 
default_ca = CA_default 

[ CA_default ] 
serial = $dir/serial 
database = $dir/index.txt 
new_certs_dir = $dir/newcerts 
certificate = $dir/cacert.pem 
private_key = $dir/private/cakey.pem 
default_days = 365 
default_md = md5 
preserve = no 
email_in_dn = no 
nameopt = default_ca 
certopt = default_ca 
policy = policy_match 

[ policy_match ] 
countryName = match 
stateOrProvinceName = match 
organizationName = match 
organizationalUnitName = optional 
commonName = supplied 
emailAddress = optional

[ req ] 
default_bits = 1024 # Size of keys 
default_keyfile = key.pem # nome das chaves que serao criadas
default_md = md5 # algoritmo de digest utilizado 
string_mask = nombstr # tipo de caracteres permitidos 
distinguished_name = req_distinguished_name 

reqextensions = v3req

[ req_distinguished_name ] 
# Variable name   Prompt string 
#----------------------   ---------------------------------- 
0.organizationName = Calcard
organizationalUnitName = Projetos Calcard
emailAddress = projetos@calcard.com.br
emailAddress_max = 40 
localityName = Palhoca
stateOrProvinceName = Santa Catarina
countryName = BR
countryName_min = 2 
countryName_max = 2 
commonName = calcard.com.br
commonName_max = 64 

# Valores padrao para evitar digitar tanto. 
# Variable name   Value 
#------------------------------   ------------------------------ 
0.organizationName_default = Calcard
localityName_default = Palhoca
stateOrProvinceName_default = Santa Catarina
countryName_default = BR
 
[ v3_ca ] 
basicConstraints = CA:TRUE 
subjectKeyIdentifier = hash 
authorityKeyIdentifier = keyid:always,issuer:always

[ v3_req ] 
basicConstraints = CA:FALSE 
subjectKeyIdentifier = hash 